@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import './_mixin';
@import './varibles';

*{
    margin:0 ;
    padding: 0;
    overflow-x: none
}

body {
    font-family:"Cairo", sans-serif;
    font-style:normal ;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
}

section {
    display: grid;
    place-items: center;
    align-content: center;
}


header {
    .navbar {
        border-bottom:1px solid $gray-color ;
        background-color: $main-color;
        padding: 10px;

        .login {
            .button{
                
                margin-right: 10px;
                font-size: 20px;
                text-decoration: none;
                @include button($color-white,$main-color,$color-white)
            }
        }


        .nav-index {
            font-size: 20px;
            margin-right: 70px;
        }

        .navbar-brand {
            img {
                width:70px;
                height: 70px;
            }
        }
    }
}

main {
    section {
        &.identification {
            padding-top: 120px;
            border-bottom: 1px solid $gray-color;


            .title{
                @include title($main-color,$main-color);
            }

            .identification-text {
                margin-top: 50px;
                font-size: 30px;
                text-align: center;
                
            }
        }


        &.services {
            background-color: $color-dark-white;
           padding-top: 70px;
            .title {
                @include title($main-color,$main-color)
            }

            .server {
                margin-top: 20px;
                text-align: center;
                svg {
                    font-size: 50px;
                    font-weight: bold;
                    text-align: center;                 
                }
                
                span{
                    color: $main-color;
                    font-size: 25px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 10px;
                }

                p{
                    font-size: 15px;
                    font-weight: bold;
                    color: black;
                }
            }
        }

        &.travels {
            padding-top: 100px;
            padding-bottom: 50px;
            
            h2{
                @include title($main-color,$main-color);
                margin-bottom: 30px;
            }

            .card {

                .card-img-top {
                    height: 400px;
                }

                h5{
                  
                    font-size: 30px;
                    color: black;
                    line-height: 10px;
                    margin-bottom: 15px;
                }

                p{
                    color: black;
                    font-size: 20px;
                    color:$main-color;
                
                }

                span {
                    position: absolute;
                    right: 337px;
                    bottom: 68px;
                    color: $main-color;
                    font-size: 20px;
                    font-weight: bold;
                }

                a{
                    @include button($color-white,$main-color , $main-color);
                    font-size: 20px;
                }
            }
        }
    }
}

footer {
    padding-top: 50px;
    background-color: $color-dark-white;


    h2.title{
        color: $main-color !important;
        text-align: center;
        margin-bottom: 20px;
    }
    .social {
        margin-top: 90px;
     
        ul{
            list-style: none;
            
          margin-bottom: 15px;

            li{
                margin-top: 40px;
                font-size: 20px;
                
                svg{
                    color: $main-color;
                    margin-left: 20px;
                    font-size: 20px;
                }

               
            }
        }


    
    }

    .map {
        padding: 20px 0;
    }

    .copy {
        text-align: center;
        color: black;
        padding: 10px;
        font-size: 20px;
      
    }
}


@media (max-width:1400px) {
    main {
        section {
            &.travels{
                .card {
                    span {
                        right: 294px;
                    }
                }
            }
        }
    }
}



@media (max-width:1220px){
    .navbar {

        .nav-index{
            margin-right: 40px !important;
           
        }

        .container{
            margin-right: 50px;
            margin-left: 10px;
        }

        .login {
            a{
              
                font-size: 15px !important;
                padding: 2px 15px !important;
                margin-right: 20px !important;
                justify-content: center;
                display: flex;
            }
        }
    }

    main {
        section {
            &.travels{
                .card {
                    span {
                        right: 249px;
                        bottom: 67px;
                    }
                }
            }
        }
    }
}

@media (max-width:992px){
    main {
        section {
            &.travels{
                .card {
                    span {
                        right: 188px;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    main {
        section {
            &.travels{

                .title {
                    text-align: center;
                    &::after{
                        display: none;
                    }
                }


                .card {
                    span {
                        right: 278px;
                        bottom: 68px;
                    }
                }
            }

            &.identification {
                .identification-text {
                    font-size: 20px;
                }

                .title {
                    text-align: center;
                    &::after{
                        display: none;
                    }
                }
            }

            &.services {
                .title {
                    text-align: center;
                    margin-bottom:30px;
                    &::after{
                        display: none;
                    }
                }

                .server {
                    margin: 20px 50px ;
                }
            }
        }
    }

    footer {
        .social {
            ul{
               li{
               text-align: center;
               }
            }
        }
    }

}

@media (max-width:576px) {
    main {
        section {

            &.travels{
                .card {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}